<h1>Current Weather</h1>

<!--<p>Temperature: <%#= @current_data[0]['Temperature']['Metric']['Value'] %>-->
<!--<p>Unit: <%#= @current_data[0]['Temperature']['Metric']['Unit'] %>-->

<p>Temperature: <%= @current_data %>

