<h2>Historical Weather Data</h2>

<% formatted_data.each do |data| %>
  <p>
    Date: <%= data[:date] %> <br>
    Temperature: <%= data[:temperature] %> <%= data[:temperature_unit] %><br>
    Weather: <%= data[:weather] %>
  </p>
<% end %>
